
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
<!--						<small><a href="https://0x04pentester.com/" target="_blank">www.0x04pentester.com</a></small>-->
						<ul>
							<li><small>© {{ now.year }} | Ak Fav Movies</small></li>
							<li><small>All rights reserved.</small></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.morelines.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
